*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* 
    -before(មុន)​ សម្រាប់សរសរអ្វីថែមនៅខាងមុខ
    -after(បន្ទាប់)​ សម្រាប់សរសរអ្វីថែមនៅខាងក្រោយ
    -first-letter សម្រាប់កែរអក្សរមួយតួរដំបូង
    -first-line សម្រាប់កែអក្សរមូយជួរពេញ
    -selection សម្រាប់ឲ្យវាចេញពណ៍នៅពេលយើងចុចselectលើវា
*/

/* h1::before{
    content:"Bart";
} */
h1::after{
    content: "Bart";
}
p::first-letter{
    font-size: 30px;
    color: purple;
}
p::first-line{
    color: red;
}
p::selection{
    background-color: purple;
    color: pink;
}