*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    height: 200vh;
}
.box1{

    /* 
        -position: relative;​ ពេលយើងប្លាស់ប្តូរទីតាំងទីតាំងចាសើនោះគឺមិនអាចដាក់អ្វីផ្សេងចូលបានទេ
        -position: absolute; ពេលប្រើវាគឺboxនោះដូចអណ្តែតដែលអាចឲ្យboxផ្សេងឬអ្វីមួយចូលទៅនៅពីក្រោមវាបាន
        -position: fixed;    ពេលប្រើវាហើយយើងscorllចុះក្រោមboxនោះកឺនៅដដែលមិនបាត់តាមយើងscroll
        -position: sticky; ​​​  វាមានមុចងារដូចposition: fixed;ដែរតែមានអាចឲ្យយើងកំណត់ចនោះដាល់អ្វីនៅពីលើវាបានដោយប្រើ​ top: px;
    */
    width: 200px;
    height: 200px;
    background-color: blue;
    /* position: relative; */
    /* position: absolute; */
    /* position: fixed; */
    position: sticky;
    top: 10px;
    
}
.box2{
    width: 400px;
    height: 400px;
    background-color: aquamarine;
}