*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

/* 
    -transition: all 1s ease-in-out; :ប្រើសម្រាប់កំណត់នាទីចលនា
    -hover​ ពេលយើងប្រើmouseចំវានិងប្តូរពណ៍និងអ្វីដែលយើងកែរ
    -active វាប្តូរលុះត្រាតែយើងចុចmouseលើវា
    -focus យើងត្រូវប្រើoutline: none;ផងដែរ​ ហើយគេប្រើវាដើម្បីប្តូរពណ៍ប្រអប់នៅពេលយើងចុចសរសេរ
    -first-child សម្រាប់ប្តូរពណ៍ប្រអប់ដែលដូចគ្នាតែវាប្តូរតែប្រអប់ដំបូងទេ
    -last-child​  សម្រាប់ប្តូរពណ៍ប្រអប់ដែលដូចគ្នាតែវាប្តូរតែប្រអប់ចុងក្រោយទេ
    -nth-child   សម្រាប់ប្តូរពណ៍ប្រអប់ដែលដូចគ្នាហើយយើងអាចប្តូរប្រអប់ណាក៍បានតាមលេខដែលយើងដាក់និងលេខប្រអប់
*/

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Box{
    width: 200px;
    height: 200px;
    background-color: purple;
    border-radius: 16px;
    /* transition: all 1s ease-in-out; */
}
.Box:hover{
    width: 250px;
    height: 250px;
    background-color: blue;
    border-radius: 50%;
}
/* .Box:active{
    background-color: yellow;
    border-radius: 50%;
} */