*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
body{
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}
.box{
    width: 200px;
    height: 200px;
    background-color: aqua;  
    border-radius: 20px;
}
.box:first-child{
    background-color: purple;
}
.box:nth-child(3){
    background-color: purple;
}
